In [1]:
import pandas as pd
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
print("Setup Complete")

Setup Complete

# Context

# Data quality assessment

In [2]:
PATH = 'data/'
sample = pd.read_csv(PATH + 'sample_submission.csv')
test = pd.read_csv(PATH + 'test.csv')
train = pd.read_csv(PATH + 'train.csv')
print(sample)
print(test)
print(train)

       PassengerId  Survived
0           100000         1
1           100001         1
2           100002         1
3           100003         1
4           100004         1
...            ...       ...
99995       199995         1
99996       199996         1
99997       199997         1
99998       199998         1
99999       199999         1

[100000 rows x 2 columns]
       PassengerId  Pclass                Name     Sex   Age  SibSp  Parch  \
0           100000       3    Holliday, Daniel    male  19.0      0      0
1           100001       3    Nguyen, Lorraine  female  53.0      0      0
2           100002       1     Harris, Heather  female  19.0      0      0
3           100003       2        Larsen, Eric    male  25.0      0      0
4           100004       1       Cleary, Sarah  female  17.0      0      2
...            ...     ...                 ...     ...   ...    ...    ...
99995       199995       3       Cash, Cheryle  female  27.0      0      0
99996       199996       1       Brown, Howard    male  59.0      1      0
99997       199997       3  Lightfoot, Cameron    male  47.0      0      0
99998       199998       1  Jacobsen, Margaret  female  49.0      1      2
99999       199999       1    Fishback, Joanna  female  41.0      0      2

         Ticket    Fare   Cabin Embarked
0         24745   63.01     NaN        S
1         13264    5.81     NaN        S
2         25990   38.91  B15315        C
3        314011   12.93     NaN        S
4         26203   26.89  B22515        C
...         ...     ...     ...      ...
99995      7686   10.12     NaN        Q
99996     13004   68.31     NaN        S
99997   4383317   10.87     NaN        S
99998  PC 26988   29.68  B20828        C
99999  PC 41824  195.41  E13345        C

[100000 rows x 11 columns]
       PassengerId  Survived  Pclass                Name     Sex    Age  \
0                0         1       1    Oconnor, Frankie    male    NaN
1                1         0       3         Bryan, Drew    male    NaN
2                2         0       3      Owens, Kenneth    male   0.33
3                3         0       3       Kramer, James    male  19.00
4                4         1       3       Bond, Michael    male  25.00
...            ...       ...     ...                 ...     ...    ...
99995        99995         1       2         Bell, Adele  female  62.00
99996        99996         0       2       Brown, Herman    male  66.00
99997        99997         0       3  Childress, Charles    male  37.00
99998        99998         0       3    Caughlin, Thomas    male  51.00
99999        99999         0       3       Enciso, Tyler    male  55.00

       SibSp  Parch     Ticket   Fare   Cabin Embarked
0          2      0     209245  27.14  C12239        S
1          0      0      27323  13.35     NaN        S
2          1      2  CA 457703  71.29     NaN        S
3          0      0   A. 10866  13.04     NaN        S
4          0      0     427635   7.76     NaN        S
...      ...    ...        ...    ...     ...      ...
99995      0      0   PC 15008  14.86  D17243        C
99996      0      0      13273  11.15     NaN        S
99997      0      0        NaN   9.95     NaN        S
99998      0      1     458654  30.92     NaN        S
99999      0      0     458074  13.96     NaN        S

[100000 rows x 12 columns]

# Data exploration

# Summary